$color_1: white;
$background-color_1: green;
$background-color_2: gray;

.space-container {
	width: 300px !important;
	border: 2px solid gray;
	padding: 10px;
}
.seat {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 2px;
}
.selected-seat {
	background-color: $background-color_1;
	color: $color_1;
}
.booked-seat {
	background-color: $background-color_2;
	color: $color_1;
	pointer-events: none !important;
	cursor: disabled !important;
}
